@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Roboto');

$font-family-base: 'Roboto', $font-family-sans-serif;

h1, h2, h3, h4, h5, h6, th, .btn {
  font-family: 'Fjalla One', $font-family-base;
}

.main-panel > .content {
  padding: 30px;
}

.table > thead > tr > th.text-center {
  text-align: center !important;
}

[v-cloak] {
  display: none;
}

.table-warning {
  background-color: rgba(255, 232, 161, .05);
}